

<textarea id="pageContent" style="visibility: hidden">${content}</textarea>
<span id="editor"></span>
<span id="save_buttons"></span>


<script src="${contextRoot}files/fitnesse/javascript/fit-table.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/javascript/fit-table.css" media="screen"/>

<style>

    #save_buttons{
        margin: 8px 0px;
        bottom: 0;
        margin-top: 9px;
        position: fixed;
    }
    #save_buttons span{
        margin-right: 10px;
    }

</style>
